@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
body {
  font-family: Helvetica, sans-serif;
}
a,h1,h2,h3{
	/*font-family: 'SEGA LOGO FONT';*/
  font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: white;/*color:#0ccac4;*/
}
button {
  cursor: pointer;
}
.decorate {
	cursor: pointer;
  border: 3px solid #f1f1f1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li_Na {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  -webkit-animation: random 10s infinite;
}

.active {
  background-color: #128497;
}
.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}